services:
  traefik:
    container_name: ww-traefik
    image: "traefik:v3.6.2"
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - wiznet

  db:
    container_name: ww-db
    image: "postgres:18.1"
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: wizardwarriors
      REDIS_URL: redis://redis:6379/0
    ports:
      - "5432:5432"
    volumes:
      - ww-db-volume:/var/lib/postgresql/18/docker
    depends_on:
      - traefik
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - wiznet

  redis:
    container_name: ww-redis
    image: "redis:8.4"
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - redis:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - wiznet

  api:
    container_name: ww-api
    build:
      context: .
      dockerfile: docker/api.Dockerfile
      args:
        DATABASE_URL: postgresql://postgres:postgres@db/wizardwarriors
        REDIS_URL: redis://redis/0
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db/wizardwarriors
      REDIS_URL: redis://redis/0
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/healthcheck"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - wiznet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.api.rule=Host(`localhost`) && (PathPrefix(`/api`) || PathPrefix(`/healthcheck`))"
      - "traefik.http.routers.api.service=api-service"
      - "traefik.http.routers.api.entrypoints=web"
      - "traefik.http.routers.api.priority=100"
      - "traefik.http.services.api-service.loadbalancer.server.port=8080"

  game-server:
    container_name: ww-game-server
    build:
      context: .
      dockerfile: docker/game.Dockerfile
    depends_on:
      api:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db/wizardwarriors
      REDIS_URL: redis://redis/0
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8085/healthcheck"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - wiznet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.game.rule=Host(`localhost`) && PathPrefix(`/game`)"
      - "traefik.http.routers.game.service=game-service"
      - "traefik.http.routers.game.entrypoints=web"
      - "traefik.http.routers.game.priority=100"
      - "traefik.http.services.game-service.loadbalancer.server.port=8085"

  frontend:
    container_name: ww-ui
    build:
      context: .
      dockerfile: docker/frontend.Dockerfile
      args:
        NEXT_PUBLIC_API_URL: "http://localhost"
        NEXT_PUBLIC_WS_URL: "ws://localhost/game"
    environment:
      NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL:-http://localhost}
      NEXT_PUBLIC_WS_URL: ${NEXT_PUBLIC_WS_URL:-ws://localhost/game}
    depends_on:
      db:
        condition: service_healthy
      api:
        condition: service_healthy
      game-server:
        condition: service_healthy
    healthcheck:
      disable: true
    networks:
      - wiznet
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ww-ui.rule=Host(`localhost`)"
      - "traefik.http.routers.ww-ui.service=ww-ui-service"
      - "traefik.http.routers.ww-ui.entrypoints=web"
      - "traefik.http.routers.ww-ui.priority=1"
      - "traefik.http.services.ww-ui-service.loadbalancer.server.port=3000"

networks:
  wiznet:
    driver: bridge

volumes:
  redis:
    driver: local
  ww-db-volume:
    external: false
