root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  entrypoint = ["./tmp/ww-game", "-ADDR=:8085"]
  cmd = "go build -o ./tmp/ww-game ./cmd/ww-game"
  delay = 100
  exclude_dir = ["assets", "tmp", "vendor", "testdata", "Game", "migrations", "docker", "ww-ui", "node_modules"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html"]
  include_file = []
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  post_cmd = []
  pre_cmd = []
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[proxy]
  app_port = 0
  enabled = false
  proxy_port = 0

[screen]
  clear_on_rebuild = false
  keep_scroll = true
